.selectField-head tr {
	float: left;
}
.selectField-head tr th:nth-of-type(1),
.selectField-body tr td:nth-of-type(1) {
	width: 40px;
}
.selectField-head tr th:nth-of-type(2),
.selectField-body tr td:nth-of-type(2) {
	width: 300px;
}
.selectField-head tr th:nth-of-type(3),
.selectField-body tr td:nth-of-type(3) {
	width: 300px;
}
.selectField-head tr th:nth-of-type(4),
.selectField-body tr td:nth-of-type(4) {
	width: 100px;
}
.selectField-body {
	height: 200px;
	float: left;
	overflow: auto;
}

#fieldLoading {
	width: 100%;
	margin: 10px 0px 10px 150px;
}

.generate-info {
	li {
		list-style: none;
		label {
			display: inline-block;
			width: 200px;
		}
		input {
			width: 400px;
		}
	}
}
