@(app: AppStatus, obj: Option[jp.co.flect.salesforce.SObjectDef] = None)
@base("Heroku & Salesforce OAuth sample") {
<script>
var app;
$(function() {
	var AUTO_RELOAD_STATUS = @AppStatus.START_GENERATE.index;
	var status = @app.status.index,
		obj = {
			"name" :  "@obj.map(_.getName).getOrElse("Unknown")",
			"label" : "@obj.map(_.getLabel).getOrElse("Unknown")",
			"fields" : @Html(obj.map(app.toJson(_)).getOrElse("[]"))
		};
	app = new flect.app.Salesforce2Heroku(status, obj);
	
	if (status >= AUTO_RELOAD_STATUS) {
		setTimeout(function() {
			location.reload();
		}, 2000);
	}
})
</script>
<div class="container">
	<h1>Heroku & Salesforce OAuth sample</h1>
	<div class="row">
		<div class="col-md-offset-2 col-md-10">
			<p>SalesforceとHerokuの両方をOAuthで操作するサンプルです。</p>
			<p>選択したSalesforceオブジェクトを元にHeroku上に連携アプリケーションを生成します。</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<ul id="navList">
				<li>トップ</li>
				<li>Salesforceオブジェクトの選択</li>
				<li>フォーム化するフィールドの選択</li>
				<li>Herokuアプリの生成</li>
			</ul>
		</div>
@if(app.status == AppStatus.INDEX) {
		<div class="col-md-10">
			<h2>Step1 SalesforceにOAuthでログイン</h2>
			<p>
				まずはSalesforceにOAuthでログインしてください。
			</p>
			<p>
				<a href="@app.salesforceLoginUrl" class="btn btn-primary">SalesforceにOAuthでログイン</a>
			</p>
		</div>
}
@if(app.status == AppStatus.LOGIN_SALESFORCE) {
		<div class="col-md-10">
			<h2>Step2 オブジェクトの選択</h2>
			<p>
				選択したオブジェクトを元にWebフォームを作成します。
			</p>
			<div>
				<label>オブジェクト</label>
				<select id="selObject">
					<option value=""></option>
					@app.objectList.map { obj =>
						<option value="@obj.getName">@obj.getLabel (@obj.getName)</option>
					}
				</select>
			</div>
			<div>
				<button id="btnSelObject" class="btn btn-primary" disabled>フォーム定義へ進む</button>
			</div>
			<div id="fieldLoading" style="display:none;">
				<img src="/assets/images/loading.gif">
				フィールド情報を取得中。。。
			</div>
			<div id="fieldList"></div>
		</div>
}
@if(app.status == AppStatus.SELECT_OBJECT) {
		<div class="col-md-10">
			<h2>Step3 フィールドの選択</h2>
			<p>
				選択したフィールドを元にWebフォームを作成します。
			</p>
			<p>
				フィールドは選択した順にフォームに追加されます。
			</p>
			<h3>@obj.map(_.getLabel) (@obj.map(_.getName))</h3>
			<table class="table" id="tblSelectField">
				<thead class="selectField-head">
					<tr>
						<th>&nbsp;</th>
						<th>フィールド名</th>
						<th>ラベル</th>
						<th>データ型</th>
					</tr>
				</thead>
				<tbody class="selectField-body">
					@obj.get.getFieldList.map { f =>
						@if(f.isCreateable && f.isUpdateable) {
							<tr>
								<td><input type="checkbox" name="field" value="@f.getName"></td>
								<td>@f.getName</td>
								<td>@f.getLabel</td>
								<td>@f.getFieldType</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
		<div class="col-md-10 col-md-offset-2">
			<form id="generatedForm">
			</form>
		</div>
		<div class="col-md-10 col-md-offset-2">
			<p>
				フォームができあがったらこのフォームを元にHeroku上にアプリケーションを生成します。
			</p>
			<button id="btnHerokuLogin" class="btn btn-primary">HerokuにOAuthでログイン</button>
		</div>
}
@if(app.status == AppStatus.LOGIN_HEROKU) {
		<div class="col-md-10">
			<h2>Step4 Herokuアプリケーションの設定</h2>
			<p>
				Herokuアプリケーションを生成するための設定を行います。
			</p>
			<p>
				Salesforceのユーザー情報はアプリからSalesforceに入力データを同期させるために必要です。
			</p>
			<form id="herokuForm" action="generateApp" method="post">
				<fieldset>
					<ul class="generate-info">
						<li><label>アプリケーション名</label><input class="form-control" name="appName"></li>
						<li><label>Salesforce ユーザ名</label><input class="form-control" name="salesforceUser"></li>
						<li><label>Salesforce パスワード</label><input class="form-control" type="password" name="salesforcePass"></li>
						<li><label>Salesforce APIトークン</label><input class="form-control" type="password" name="salesforceToken"></li>
					</ul>
				</fieldset>
				<input type="submit" value="生成" class="btn btn-primary">
			</form>
		</div>
}
@if(app.status == AppStatus.START_GENERATE) {
		<div class="col-md-10">
			<div>
				<img src="/assets/images/loading.gif">
				アプリケーションを生成中。。。
			</div>
		</div>
}
@if(app.status == AppStatus.APP_GENERATED) {
		<div class="col-md-10">
			<div>
				<img src="/assets/images/loading.gif">
				ベースアプリケーションをGitクローン中。。。
			</div>
		</div>
}
@if(app.status == AppStatus.GIT_WAIT) {
		<div class="col-md-10">
			<div>
				<img src="/assets/images/loading.gif">
				Git待機中。。。
			</div>
		</div>
}
@if(app.status == AppStatus.GIT_PUSH) {
		<div class="col-md-10">
			<div>
				<img src="/assets/images/loading.gif">
				Git push 実行中。。。
			</div>
		</div>
}
	</div>
</div>    
}
